<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img style="vertical-align: baseline" src="../../assets/images/ic_movie_black_24dp_1x.png" alt="movie">
      <a routerLink="/" class="navbar-brand"><h3>MovieLibrary</h3></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/movies"><b>Movies</b></a></li>
        <li routerLinkActive="active"><a routerLink="/movies-playing"><b>Movies Playing</b></a></li>
        <li routerLinkActive="active"><a routerLink="/theatres"><b>Theatres</b></a></li>
      </ul>
    </div>
  </div>
</nav>
