<div class="row">
  <div class="col-xs-3">
    <h1>{{ datePlaying.datePlaying }}</h1>
  </div>
  <div class="col-xs-9" id="buttonField">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Date <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditDatePlaying()">Edit Date</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteDatePlaying()">Delete Date</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<hr>
<div class="row">
  <div class="col-xs-12">
    <b>Movies:</b>
    <p> </p>
    <ul class="list-group">
      <li
        class="list-group-item clearfix"
        *ngFor="let movie of datePlaying.movie">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ movie.title }}</h4>
          <p class="list-group-item-text">{{ movie.genre }}</p>
          <b class="list-group-item-text"
          *ngFor="let theatre of movie.theatres">
            {{ theatre.theatre }} <br>
            <b class="list-group-item-text">{{ datePlaying.timePlaying }}</b></b>

        </div>
        <span class="pull-right">
        <img
          [src]="movie.imagePath"
          alt="{{ movie.title }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
      </li>
    </ul>
  </div>
</div>
