<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!movieForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" id="genre" formControlName="genre" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="age">Minimal Age</label>
            <input type="text" id="age" formControlName="age" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" formControlName="description" rows="6"></textarea>
          </div>
        </div>
      </div>
      <!--<div class="row">-->

      <!--<div class="col-xs-12" formArrayName="ingredients">-->
      <!--&lt;!&ndash; Oorspronkelijk: <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i" &ndash;&gt;-->
      <!--<div class="row" *ngFor="let ingredientCtrl of recipeForm['controls'].ingredients['controls']; let i = index" [formGroupName]="i"-->
      <!--style="margin-top: 10px;">-->
      <!--&lt;!&ndash; De volgende regel voeg je ook toe &ndash;&gt;-->
      <!--&lt;!&ndash; <pre *ngIf="ingredientCtrl">{{ ingredientCtrl.value | json }}</pre> &ndash;&gt;-->
      <!--<div class="col-xs-8">-->
      <!--<input type="text" class="form-control" formControlName="name">-->
      <!--</div>-->
      <!--<div class="col-xs-2">-->
      <!--<input type="number" class="form-control" formControlName="amount">-->
      <!--</div>-->
      <!--<div class="col-xs-2">-->
      <!--<button type="button" class="btn btn-danger"-->
      <!--*ngIf="recipeForm.get('ingredients').length > 1"-->
      <!--(click)="onDeleteIngredient(i)">Delete</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--<hr>-->
      <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
      <!--<button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--<br/>-->
      <!--<br/>-->
      <!--</div>-->
      <!--</div>-->
    </form>
  </div>
</div>
