<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="moviesForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!moviesForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="datePlaying">Date Playing:</label>
            <input type="text" id="datePlaying" formControlName="datePlaying" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="timePlaying">Time Playing:</label>
            <input type="text" id="timePlaying" formControlName="timePlaying" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-xs-12" formArrayName="movies">
        <!-- Oorspronkelijk: <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i" -->
        <div class="row" *ngFor="let movieCtrl of moviesForm['controls'].movies['controls']; let i = index" [formGroupName]="i"
             style="margin-top: 10px;">
          <!-- De volgende regel voeg je ook toe -->
          <!-- <pre *ngIf="ingredientCtrl">{{ ingredientCtrl.value | json }}</pre> -->
          <div class="col-xs-4">
            <p>Title:</p>
            <input type="text" class="form-control" formControlName="title">
          </div>
          <div class="col-xs-4">
            <p>Genre:</p>
            <input type="text" class="form-control" formControlName="genre">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-danger"
                    *ngIf="moviesForm.get('movies').length > 1"
                    (click)="onDeleteMovie(i)">Delete</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onAddMovie()">Add Movie</button>
          </div>
        </div>
        <br/>
        <br/>
      </div>
  </form>
</div>
</div>
